.block {
    padding-top: 2em;
    padding-bottom: 2em; 

    h2 {
        font-size: 2em !important;
        margin-bottom: 1.6em;
    }

    b.impress {
        color: $green-200;
    }

    code {
        border: unset;
        background-color: unset;
        border-radius: unset;
    }

    .highlight {
        padding: 1.2em 1.4em;
        background: #f5f6fa;
        border: 1px solid #eeebee;
        border-radius: 3px;
        margin-top: 1.4em;

        pre {
            margin: unset;
        }
    }
}

.block__centered {
    text-align: center;
}

.block__space {
    padding: 4em 2em
}

.block__code {

    ol {
        counter-reset: item;
        list-style-type: none;

        li {
            margin-bottom: 2em;
        }
        
        label:before {
            background: #27262b;
            content: counter(item);
            font-size: .8em;
            display: flex;
            padding: .2em;
            width: 1.4em;
            height: 1.4em;
            color: white;
            border-radius: 50%;
            margin-right: 1em;
            justify-content: center;
            align-items: center;
        }

        label {
            font-weight: bold;
            color: $grey-dk-300;
            counter-increment: item;
            display: flex;
            flex-direction: row;
        }
    }
}

.mtop__space-1 {
    margin-top: 1.6em;
}

.list__vertical {

    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0;

    @include tablet() {
        flex-direction: row;

        > li:not(:first-child) {
            margin-left: 2em !important;
        }
    }

    > li {
        flex: 1;
        margin: unset;
    }

    ul {
        padding-inline-start: 1em;
        font-size: .9em;
        font-weight: 200;
    }
}

.list__recursive__style {

    ul {
        margin-bottom: 1.6em;

        @include tablet() {
            margin-bottom: unset;
        }
    }

    > li > label {
        font-weight: 500;
        padding-bottom: 5px;
        margin-bottom: .4em;
        border-bottom: 1px solid $line-lt;
        display: block;
    }

    a {
        display: block;
    }
}

.block__flex {
    display: flex;
    flex-direction: column;

    @include tablet() {
        flex-direction: row;
    }

    .block__col-1 {
        flex: 1
    }

    .block__col-3 {
        flex: 3
    }
}

.body__col {
    min-height: 600px;
}