.page__blog {
    margin-top: 60px !important;
}

.posts {
    width: 100%;
    max-width: 640px;
    font-size: 17px;
    line-height: 1.8em;
    margin: 2em auto;
    color: $text-dk;

    @include tablet() {
        margin-top: 3em;
    }

    > h2, .list__title {
        font-size: 1.8em !important;

        &:hover {
            opacity: .8;
        }
    }

    .post__meta {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;

        @include tablet() {
            flex-direction: row;
        }

        > div {
            flex: 1;
        }

        .post__date {
            justify-content: flex-end;
            align-items: flex-end;
            font-size: .8em;
            display: flex;
        }
    }

    .post__item {
        padding-bottom: 2em;

        h2, .title {
            margin-bottom: .4em;
            line-height: 1.2em;
        }

        h2 {
            letter-spacing: 0.2px;
            font-weight: 600;
        }

        .title {
            font-weight: bold
        }

        h2:not(.list__title) {
            font-size: 1.6em !important;
        }

        p {
            .image-caption {
                display: block;
                text-align: center;
                font-size: .8em;
                opacity: .8;
            }
        }

        .subtitle {
            font-size: 1.4em;
            opacity: .6;
        }

        h3 {
            font-weight: bold;
            font-size: 1.4em;
        }
    }

    figure, p {
        margin-bottom: 1.6em;
    }

    figure img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .figure__md {
        height: 320px;
        overflow: hidden;
    }

    .figure__cover {
        margin: 1.6em 0;
    }

    .post__panel {
        margin: 4em 0;
        text-align: center;

        @include tablet() {
            margin: 6em;
        }
    }

    .post__footer {
        text-align: right;
        margin-top: 2.4em;
        padding-bottom: 1.8em;
        border-bottom: 1px solid $line-dk;
    }

    p:not(.subtitle), li {
        line-height: 1.8;
        font-size: 18px;
    }

    // .block__author {
    //     border-top: 1px solid $line-dk;
    //     padding-top: 1em;
    // }

}


.post__author {

    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 1em;
    }

    .post__author_desc {
        display: flex;
        flex-direction: column;
        line-height: 1.2em;

        span:nth-child(2) {
            font-size: .7em;
        }
    }
}