
.button {
    border-radius: 3px;
    transition: ease-in .2s;
    display: inline-block;
    cursor: pointer;

    a {
        // text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        color: $blue-200;
        padding: 1em 3em;
        display: inline-block;

        &::after {
            content: "→";
            display: inline-block;
            margin-left: .5em;
            transition: ease-in .2s;
        }
    }

    &:hover a::after {
        transform: translateX(.2em);
    }

    margin-bottom: 2.4em;

    @include tablet() {
        &:not(:first-child) {
            margin-left: 2em;
        }
        margin-bottom: initial;
    }

    &.btn__default {
        border: 1px solid $blue-300;
    }
    
    &.btn__normal {
        a {
            padding: .4em 2.6em;
            font-weight: normal;
        }
    }

    &.btn__positive {
        background: $green-200;

        a {
            color: $white;
        }

        span {
            margin-left: .4em;
            transition: ease-in .2s;
            display: inline-block;
        }
    }

    &:hover {
        a {
            opacity: .8;
        }
    }

    &.btn__shadow {
        box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    }
}