$orange-lt-000: #fafafa;
$orange-000: #ffb74d !default; 
$orange-100: #ff9800 !default;
$orange-200: #f57c00 !default;
$orange-300: #e65100 !default;
$link-color: $blue-000;
$grey-lt-400: #e0e0e0;
$line-lt: rgba(255,255,255,0.1);
$line-dk: rgba(0,0,0,0.1);


$text: white;
$positive: #369A01;
$bg: #263238;//#24292e;// #023552;//#025480;