$orange-lt-000: #fafafa;
$link-color: $blue-000;

$grey-lt-400: #e0e0e0;
$grey-ltc-000: #eeeeee;

$line-lt: rgba(255,255,255,0.1);
$line-lt-100: rgba(255, 255, 255, 0.4);
$line-dk: rgba(0,0,0,0.1);
$line-dk-000: rgba(0,0,0,0.05);

$text: white;
$text-dk: #263238;
$positive: #369A01;
$bg: #282828;//#263238;//#24292e;// #023552;//#025480;