
.page_wrapper {
    // width: calc(100% - 2em);

    @include phone() {
        padding: 1em;
    }

    @include tablet() {
        max-width: 1000px;
    }

    @include desktop() {
        margin: auto;
    }
}

.page_wrapper_sm {

    width: 100%;

    @include tablet() {
        max-width: 640px;
        margin: auto;
    }
}
