.block__split {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
/* Block Features */
.block__features {
    text-align: center;
}
.block__features .block__item { 
    flex: 1; 
    display: block;
    flex-direction: column;
    text-align: center; 
    padding: 10px;
    min-width: 160px;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
}
.block__features .block__item:hover {
    opacity: 0.7;
}
.block__features img {
    height: 80px;
    padding: 15px 0 5px 0;
}
.block__features p {
    font-size: 22px;
    color: #1E1E1E;
}

/* Feature details */
.block__feature_details .block__item .block__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: calc(100vh / 2);
    align-items: center;
    flex-wrap: wrap;
}
.block__feature_details .block__item.block__item_darker {
    background: #EFF7F8;
}
.block__feature_details img {
    min-width: 320px;
}
.block__feature_details .block__content {
    flex: 1
}
.block__feature_details .block__content p {
    opacity: 0.7;
}

.block__feature_details .block__item h3 {
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: 300;
}