.slider {
    scroll-behavior: smooth;
}

.slider__nav {
    position: absolute;
    > div {

        padding: 1em;
        width: 3em;
        height: 3em;
        display: inline-block;
        
        &:not(.sliderLocked):hover {
            opacity: .8;
        }

        div {
            transform: translateY(-16px) translateX(-5px)
        }

        span {
            height: 5px;
            width: 30px;
            background: $bg;
            display: inline-block;
            border-radius: 3px;
        }
    }

    .arrow-right {

        position: absolute;
        top: -180px;
        left: calc(100vw - 62px);

        @include tablet() {
            left: calc(100vw - 90px);
        }

        @include desktop() {
            left: 1000px;
        }

        span:first-child {
            transform: rotate(45deg)
        } 
        span:nth-child(2) {
            width: 28px;
            transform: rotate(-45deg) translateY(-2px) translateX(2px);

            @include tablet() {
                transform: rotate(-45deg) translateY(-5px) translateX(4px);
            }
        }
    }
    
    .arrow-left {

        position: absolute;
        top: -180px;
        left: -1.6em;;

        @include tablet() {
            left: 0;
        }

        @include desktop() {
            left: -50px;
        }

        span:first-child {
            transform: rotate(-45deg)
        }

        span:nth-child(2) {
            width: 28px;
            transform: rotate(45deg) translateX(-2px) translateY(-4px);

            @include tablet() {
                transform: rotate(45deg) translateX(-5px) translateY(-6px);
            }
        }
    }

    .sliderLocked {
        opacity: 0.1;
    }
    
}

.page__slider {
    padding-top: 1.6em;

    .block__item {
        width: 100%;
    }

    .block__item:not(.active) {
        display: none;
    }

    .page__slider_nav {
        display: flex;
        flex-direction: row;
        border-top: 1px solid $grey-lt-100;

        label {
            flex: 1;
            padding: 1em;
            font-size: .8em;
            font-weight: 500;
            opacity: .6;

            &:not(.page__slider__button_active):hover {
                opacity: 1;
            }

            &.page__slider__button_active {
                border-top: 3px solid $blue-000;
                margin-top: -3px;
                opacity: 1;
            }
        }
    }

    // fixed height code hightlight section
    .highlight {
        height: 380px;
        overflow-y: auto;
    }
}