@import "_colors";
@import "_fonts";
@import "_breakpoint";
@import "_block";

@import "_media";
@import "_container";
@import "_features";

@import "_buttons";
@import "_slider";
@import "_blog";
@import "_mobile";

body {
    line-height: 1.6;
    padding-bottom: unset !important;
}


a {
    text-decoration: none;
    background-image: unset !important;
}
// .side-bar
// ,.site-title
// ,.site-footer {
//     background-color: $orange-lt-000;
// }

.top {
    margin-top: 31px;

    @include tablet() {
        margin-top: 60px;
    }
}

.navigation-list-toggle {
    margin-top: 2em !important;
}

.navigation-list {


    > li {
        margin-bottom: 1em;
    }

    .navigation-list-link.active {
        color: $green-100 !important;
    }

    .navigation-list-child-list {

        border-left: 1px solid $grey-lt-400;
        padding-left: unset !important;

        .navigation-list-link {
            padding: .26em 1em;
            opacity: .6;

            &.active {
                color: $blue-100 !important;
                opacity: 1;
               
            }

            &:hover {
                opacity: 1;
                // background: $line-dk-000;
                // text-decoration: underline;
            }
        }

        .navigation-list-item::before {
            content: " " !important;
        }
    }
 
    line-height: 1.6em !important;

    .navigation-list-item.parent > a {
        font-weight: bold;
    }

    .navigation-list-item:not(.parent) > a {
        font-weight: 500;
        font-size: 13px;
        &:hover {
            opacity: 1;
            color: $blue-100;
            // background: $line-dk-000;
        }
    }

    .footer__btn {

        font-weight: 600;
        display: flex;
        padding: auto 1em;

        .btn__icon {
            font-size: 0.6em;
            padding-right: .8em;
            display: inline-block;
        }
    }
}

.side-bar a {
    color: $grey-dk-200;
}

.page-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: $bg !important; //rgba(38, 50, 56, .98)
    display: flex;

    @include phone() {
        flex-direction: column;
    }
    
    .js-search-results {
        right: 0;
        top: 45px;
    }

    @include desktop() {
        position: fixed;
        top: 0;
        display: block;

        .js-search-results {
            right: unset;
        }
    }

    .side-bar, .site-title {
        background-color: transparent;
    }

    .site-title
    ,.main-content {
        border-bottom: unset;
    }

    .side-bar {
        border-right: unset;
        position: relative;
        height: unset;
    
        @include desktop() {
            position: absolute;
        }
    
    }

    .site-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 0;
        color: $white;
        font-weight: bold;

        img.page-logo {
            height: 30px;
            margin-right: 10px;
        }

        .page-logo-text {
            height: 18px;
        }
    }

    .search {
        background: rgba(0,0,0,0.2);
        font-size: 13px !important;

        &:not(.not__mobile) {
            display: initial !important
        }

        .js-search-results {
            overflow-y: auto;
            max-height: 50vh;
        }
    }

    .search-input-wrap,
    .search-input-wrap input  {
        background: transparent;
        color: $white;
    }

    .search-input-wrap input::placeholder {
        color: rgba(255,2552,255,0.5);
    }

}

.page-content {

    h4 {
        color: $blue-100;
        font-weight: bold;
    }

    a {
        color: $blue-100;
    }
}

.regular-text {
    display: flex !important;
    flex-direction: column;

    @include phone() {
        a {
            border-bottom: 1px solid $line-lt-100;
            padding: 1em;
            display: block;
            color: $text;
        }
    }

    @include tablet() {
        flex-direction: row;
        align-items: center;

        a {
            margin-left: 1rem;
            padding-bottom: 5px;
            color: #fff;
            font-weight: 500;
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: .6px;
        }
    }
}

.link-icon {
    width: 20px
}

a:not([class])
, a:not([class]):hover {
    background-image: none; //linear-gradient(rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0.45) 100%);
    // transition: .2s ease-in;
}

a:not([class]):hover {
    opacity: .7;
}

.pinned__nav {
    position: fixed !important;
    // z-index: 0 !important;
    max-height: 90vh;
}
@media (min-width: 46.25rem) {
   
    .navigation {
        padding-top: 2rem;
    }

    .main-content-wrap
    ,.page-wrap > .side-bar {
        margin-top: 0;
        padding: 0;
    }

    .page-wrap > .side-bar  {
        background-color: #fafafa; 
        border-right: unset;
    }

    .page-wrap, .main-content-wrap {
        overflow-x: unset;
        overflow-y: unset !important;
    }

    .page-wrap, .main-content-wrap {
        position: relative !important;
        min-height: calc(100vh - 300px) !important;
    }
}

.page-header .main-content {
    border-bottom: unset !important;
    margin-left: unset;

    @include desktop() {
        margin-left: calc((100% - 1032px) / 2 + 232px);
    }
}

@media (min-width: 72rem) {
    .page-header .main-content {
        margin-right: calc((100% - 1032px) / 2 + 232px);
    }

    .search {
        width: calc((100% - 1032px) / 2 + 232px) !important;
        min-width: 232px;
        height: 60px;
    }
}

// SEARCH
.search  {
    align-items: center;
    border-radius: unset !important;
    padding: 0 1.6em !important;

    @include tablet() {
        display: flex !important;
    }
    @include desktop() {
        position: absolute !important;
        top: 0;
        right: 0;
    }
}

// index

.header {
    background: $bg;
    color: $text;
    position: relative;
    overflow: hidden;

    .wrapper {
        max-width: 1000px;
        padding: 10em 0 4em 0;
        display: flex;
        flex-direction: row;

        @include tablet() {
            margin: auto;
            width: calc(100% - 6em);
        }

        > div { 
            flex: 1;
            text-align: center;
            padding: 1em;

            @include tablet() {
                text-align: left;
                padding: unset;
            }
        }
        .right-col {

            display: none;
            text-align: right;
            position: relative;

            @include tablet() {
                display: initial;
            }
        }

        .vasern-icon {
            display: none;
            margin: 2em;
            z-index: 1;
            overflow: unset;
            width: 14em;

            @include tablet() {
                display: initial;
            }

            @include desktop() {
                width: 18em;
            }

            path {
                transition: ease-in .2s;
                -webkit-animation: floating 8s infinite; /* Safari 4.0 - 8.0 */
                animation: floating 8s infinite;

                &:nth-child(3) {
                    animation-delay: .2s;
                }
                
                &:nth-child(2) {
                    animation-delay: .4s;
                }

                &:hover {
                    opacity: .4;
                }
            }
        }
    }

    h1 {
        font-weight: bold;
        font-size: 4em !important;
    }

    h1, h2 {
        color: $text;
        margin: unset;
    }

    h2 {
        margin: .6em 0;
    }

    p {
        margin-top: 2em;
        opacity: .6;
    }

    .panel {
        margin-top: 4em;
    }

    .header-bg {
        width: 105%;
        position: absolute;
        bottom: -1px;
        max-width: unset;
        left: -2.5%;
    }
    
}


@-webkit-keyframes floating {
    0% {transform: translateY(0px)}
    50% {transform: translateY(10px)}
    100% {transform: translateY(0px)}
}

@keyframes floating {
    0% {transform: translateY(0px)}
    50% {transform: translateY(10px)}
    100% {transform: translateY(0px)}
}

.cards {

    .card-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 320px;
        padding: 1em;
        background: $white;
        border-radius: 3px;
        box-shadow: 0 2px 15px rgba(0,0,0,0.1);
        text-align: center;
        color: $grey-dk-300;
        display: none;
        opacity: 0;
        transition: .2s ease-in;
        transform: translateY(10px);

        label {
            font-weight: bold;
        }

        p { margin-top: .6em }
    }

    .card-active {
        display: inline-block;
    }

    .card-show {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    background: $bg;
    color: $text;
    padding: 1.4em 1em;
    // z-index: 9;

    @include tablet() {
        padding: 3.6em;
    }

    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        align-items: center;
        padding: 1.6em;

        @include desktop() {
            padding: initial;
        }

        &:hover {
            opacity: .8;
        }

        span {
            display: block;
            text-transform: uppercase !important;
            font-weight: bold !important;
            letter-spacing: .7px !important;
            font-size: 12px;
        }
    }

    .link-item {
        margin-top: 1.4em;
        border-top: 1px solid $line-lt;;
        padding-top: 1em;
        justify-content: flex-end;

        a {
            justify-content: center;
        }
    }

    .block__flex {
        flex-direction: column-reverse;

        @include desktop() {
            flex-direction: row;
        }
    }

    a {
        color: $text;
    }
}

.link-item a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $text;
    text-decoration: dashed;

    .link-icon {
        margin-right: .6em;
    }

    span {
        border-bottom: 1px $grey-lt-100 dashed;
    }

    &.lg {
        font-size: 1.2em;

        @include tablet() {
            font-size: 1.4em;
        }

        .link-icon {
            width: 1em;
        }
    }
}

ol {
    padding-inline-start: 1em;
    @include tablet() {
        padding-inline-start: initial;
    }
}

.logo__lg {
    width: 6em;
}

.no-img {
    background: $line-dk;
}


.site__category {

    font-size: 14px;
    font-weight: normal;
    // margin-left: .4em;
    padding-left: .4em;
    border-left: 1px solid $line-lt-100;

    @include tablet() {
        // font-size: 14px;
        margin-left: 1em;
        padding-left: 1em;
    }
}

// Scroll
.menu__fixed {
    position: fixed;
    overflow-y: auto;
}