<div class="block page_wrapper block__code">

    <h2 class="block__centered">Setup database for your apps <b class="impress">in seconds</b></h2>

    <div class="page_wrapper_sm">

        <ol>
            <li>
                <label>Install Vasern with NPM</label>
{% highlight ssh %}
$ npm install vasern --save
{% endhighlight %}
            </li>
            <li>
                <label>Setup your database</label>
<div class="block_items">
        <!-- BLOCK: Setup -->
        <div data-name="setup_ps" data-label="Option 1. Pre-define database" class="block__item">
{% highlight js lineos %}
import Vasern, { types } from 'vasern';

var VasernDB = new Vasern({ 
    schemas: [{
        name: 'TodoItems',
        indexes: {
            createdOn: types.datetime(),
            name: types.string(55),
            status: types.boolean(),
            author: types.ref('Users')
        }
    }, {
        name: 'Users',
        indexes: {
            firstName: types.string(55),
            lastName: types.string(55),
            yearOfBirth: types.number()
        }
    }] 
})
{% endhighlight %}
        </div>

        <!-- <div data-name="code_ps" data-label="Option 2. Freely create collections" class="block__item active">

import Vasern, { types } from 'vasern';
var VasernDB = new Vasern();

VasernDB.createCollection({
    name: 'Users',
    indexes: {
        firstName: types.string(55),
        lastName: types.string(55),
        yearOfBirth: types.number()
    }
 });

VasernDB.createCollection({
   name: 'TodoItems',
   indexes: {
        createdOn: types.datetime(),
        name: types.string(55),
        status: types.boolean(),
        author: types.ref('Users')
   }
});
 </div>
-->
       
    </div>
            </li>
            <li>
                <label>Start using your database</label>
{% highlight javascript %}
VasernDB.collect(“TodoItems”).insert({ 
    createdOn: new Date(),
    name: “Be awesome!”,
    description: “Not too awesome”
});
{% endhighlight %}
            </li>
        </ol>
    </div>
</div>

<div class="block">
        <div class="page_wrapper_sm block__space block__centered">
            <span class="button btn__positive">
                <a class="temp__class">Install Vasern</a>
            </span>
    
            <span class="button btn__default">
                <a>Learn more</a>
            </span>
        </div>
</div>