<footer>
    <div class="page_wrapper block__flex">
        <div class="block__col-1 copyright">
            <img class="logo__lg" src="{{ "assets/media/vasern-blue-dark.svg" | absolute_url }}" alt="Vasern Icon" />
        </div>
        <div class="block__col-3">
            <ul class="list__vertical list__recursive__style">
                {% for node in site.data.footer_links %}

                    <li>
                        <label>{{ node.title }}</label>
                        <ul>
                            {% for item in node.items %}
                                <li>
                                    {% if item.url contains "http" %} 
                                        <a href="{{ item.url }}" target="_blank" rel="noreferrer" title="{{ item.title }}">{{ item.title }}</a>
                                    {% else %}
                                        <a href="{{ item.url | absolute_url }}" title="{{ item.title }}">{{ item.title }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>

                {% endfor %}
            </ul>
        </div>
    </div>
            
    <div class="link-item page_wrapper">
        <span>© 2019 Vasern</span>
        <a class="lg" href="{{ github_url }}" target="_blank" rel="noreferrer noopener">
            <img class="link-icon" src="{{ "assets/media/github-logo.blue.svg" | absolute_url }}" alt="Github Icon" />
            <span>Star this project on Github</span>
        </a>
    </div>
</footer>

<script src="{{ "/assets/js/createElement.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/general.js" | absolute_url }}"></script>