<div class="header">
  <div class="wrapper">
    <div class="left-col">
      <h1>
        <img height="42" width="270" src="{{ "assets/media/vasern-text.svg" | absolute_url }}" alt="{{ site.title }}" />
      </h1>
      <h2>{{ site.tagline }}</h2>
      <p>{{ site.tagdesc }}</p>

      <div class="panel">
        <span class="button btn__positive btn__shadow">
          <a class="temp_class"  href="{{ site.install_url | absolute_url }}">Getting Started</a>
        </span>
      </div>
    </div>

    <div class="right-col">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3xV9u1hJZ0w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

</div>
