<div class="block__features block__split page_wrapper">
  <a href="#native-performance" class="block__item">
    <img src="{{ "assets/media/002-startup.svg" | absolute_url }}" alt="Feature Fast" />
    <p>Fast</p>
  </a>
  <a href="#zero-dependency" class="block__item">
    <img src="{{ "assets/media/003-bag.svg" | absolute_url }}" alt="Feature Lightweight" />
    <p>Lightweight</p>
  </a>
  <a href="#quick-setup" class="block__item">
    <img src="{{ "assets/media/004-gear.svg" | absolute_url }}" alt="Feature Easy setup" />
    <p>Easy setup</p>
  </a>
  <a href="#open-source" class="block__item">
    <img src="{{ "assets/media/001-group.svg" | absolute_url }}" alt="Feature Open Source" />
    <p>Open Source</p>
  </a>
</div>
