{% if include.style=="dark" %}
  <div class="page-header header__dark">
  {% assign logoURL = "assets/media/vasern-blue.svg" %}
  {% assign logoTextURL = "assets/media/vasern-text.svg" %}
  {% assign githubIconURL = "assets/media/github-logo.svg" %}
{% else %}
  {% assign logoURL = "assets/media/vasern-blue.svg" %}
  {% assign logoTextURL = "assets/media/vasern-text.dk.svg" %}
  {% assign githubIconURL = "assets/media/github-logo.dk.svg" %}
  <div class="page-header">
{% endif %}
      <div class="side-bar">
        <a href="{{ site.url }}" class="site-title fs-6 lh-tight">
          <img class="page-logo" src="{{ logoURL| absolute_url }}" alt="{{ site.url }}" /> 
          <img class="page-logo-text not__mobile" height="18" src="{{ logoTextURL | absolute_url }}"" alt="{{ site.title }}">
          {% if page_category != nil %}
            <!-- <span class="site__category">{{ page_category }}</span> -->
          {% endif %}
        </a>
      </div>
    <div class="main-content not__mobile">
      {% if site.aux_links != nil %}
        <ul class="list-style-none regular-text mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
          {% for link in site.aux_links %}

              {% if link.icon != nil %}
              <li class="d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %}">
                  <a href="{{ link.url }}" rel="noreferrer" target="_blank">
                    <img class="link-icon" alt="Github icon" src="{{ "/assets/media/" | absolute_url }}/{{ link.icon }}.svg" />
                  </a>
                </li>
              {% else %}
                  {% if link.badge %}
                  <li class="d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %} item__badge" data-name="{{ link.id }}">
                      <a href="{{ link.url }}">{{ link.first }}</a>
                      <!-- <span></span> -->
                  </li>
                  {% else %}
                  <li class="d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %}" data-name="{{ link.id }}">
                    <a href="{{ link.url }}">{{ link.first }}</a>
                  </li>
                  {% endif %}
              {% endif %}

          {% endfor %}

          <li class="d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %}">
              <a href="{{ site.github_url }}" rel="noreferrer" target="_blank">
                <img class="link-icon" alt="Github icon" src="{{ githubIconURL | absolute_url }}" />
              </a>
            </li>
        </ul>
      {% endif %}
    </div>

    <!-- SEARCH -->
    {% if site.search_enabled != nil %}
    <div class="search js-search not__mobile">
      <div class="search-input-wrap">
        <input type="text" class="js-search-input search-input" placeholder="Search {{ site.title }}" aria-label="Search {{ site.title }}" autocomplete="off">
        <svg width="16" height="16" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg" class="search-icon"><title>Search</title><g fill="#fff" fill-rule="nonzero"><path d="M17.332 20.735c-5.537 0-10-4.6-10-10.247 0-5.646 4.463-10.247 10-10.247 5.536 0 10 4.601 10 10.247s-4.464 10.247-10 10.247zm0-4c3.3 0 6-2.783 6-6.247 0-3.463-2.7-6.247-6-6.247s-6 2.784-6 6.247c0 3.464 2.7 6.247 6 6.247z"/><path d="M11.672 13.791L.192 25.271 3.02 28.1 14.5 16.62z"/></g></svg>
      </div>
      <div class="js-search-results search-results-wrap"></div>
    </div>
    {% endif %}

    <!-- MOBILE -->
    <span class="burger__menu mobile__only">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>

