<!DOCTYPE html>

<html lang="en-us">
{% include head.html title="Vasern" %}

  <div class="page-wrap">
      <span class="fs-3"><button class="js-main-nav-trigger navigation-list-toggle btn btn-outline" type="button" data-text-toggle="Hide">Menu</button></span>
    <div class="main-content-wrap">

      {% include top-nav.html style="dark" %}
      
      {% include sections/header.html %}

      {% include sections/features.html %}

      {% include sections/media.html %}

      {% include sections/code.html %}

      {% include sections/footer.html %}
    </div>


  </div>
  <script src="{{ "/assets/js/createElement.js" | absolute_url }}"></script>
  <script src="{{ "/assets/js/slider.js" | absolute_url }}"></script>
  <script src="{{ "/assets/js/index.js" | absolute_url }}"></script>
</body>
</html>
