{% assign page_category = "Blog" %}
<!DOCTYPE html>

<html lang="en-us">
    {% include head.html %}
    <!-- FB Comment Plugin -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=866760746763470&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- END: FB Comment Plugin -->

    <div class="page-wrap">

        <span class="fs-3"><button class="js-main-nav-trigger navigation-list-toggle btn btn-outline" type="button" data-text-toggle="Hide">Menu</button></span>
        <div class="main-content-wrap">
            {% include top-nav.html %}
            
            <div class="main-content-wrap page__blog page_wrapper">
                <div class="posts post__single">
                        {% assign author = site.data.authors[page.author] %}
        
                        <div class="post__item">
                            
                            {% if page.photo %}
                                <p><img src="{{ page.photo }}" atl="{{ page.title }}" /></p>
                            {% endif %}

                            <h1 class="title">{{ page.title }}</h1>
                            <p class="subtitle">{{ page.description }}</p>
                            <div class="post__meta">
        
                                <!-- AUTHOR -->
                                <div class="post__author">
                                    <img src="{{ "assets/media/" | absolute_url }}{{ author.avatar }}" alt="{{ author.name }}">
                                    <span class="post__author_desc">
                                        {% if author.url %}
                                            <a target="_blank" rel="noreferrer noopener" href="{{ author.url }}">{{ author.name }}</a>
                                        {% else %}
                                            <a>{{ author.name }}</a>
                                        {% endif %}
                                        <span>{{ author.desc }}</span>
                                    </span>
                                </div> <!-- END: AUTHOR -->
        
                                <!-- DATE -->
                                <div class="post__date">
                                    <span>{{ page.published_at | date: "%A - %d %B, %Y" }}</span>
                                </div> <!-- END: DATE -->
                            </div>

                            {{ content }}

                            <div class="post__panel">
                                <span class="button btn__positive">
                                    <a class="temp_class" href="{{ site.install_url | absolute_url }}">Start using Vasern</a>
                                </span>
                            </div>

                            <div 
                                class="fb-comments" 
                                data-href="{{ page.url | absolute_url }}" 
                                data-width="640" 
                                data-numposts="5"></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    {% include sections/footer.html %}
  </div>
</body>
</html>
