{% assign page_category = "Blog" %}
<!DOCTYPE html>

<html lang="en-us">
{% include head.html title="Vasern Blog" %}

  <div class="page-wrap">
      <span class="fs-3"><button class="js-main-nav-trigger navigation-list-toggle btn btn-outline" type="button" data-text-toggle="Hide">Menu</button></span>
    <div class="main-content-wrap">
        {% include top-nav.html %}
        
        <div class="main-content-wrap page__blog page_wrapper">
            <div class="posts posts__items">

            {% assign articles = site.blog | sort: "published_at" | reverse %}
            {% for article in articles %}
                {% assign author = site.data.authors[article.author] %}

                <div class="post__item">
                    <a href="{{ article.url }}"><h2 class="list__title">{{ article.title }}</h2></a>
                    {% if article.description %}<p class="subtitle">{{ article.description }}</p>{% endif %}
                    <div class="post__meta">
                        <div class="block__author">
                            <a target="_blank" rel="noreferrer noopener" href="{{ author.url }}">{{ author.name }}</a>

                            <a class="no__class" target="_blank" rel="noreferrer noopener" href="{{ author.social_url }}">
                                {{ author.social }}
                            </a>
                            <span class="deliminator">/</span>
                            <span>{{ article.published_at | date: "%A - %d %B, %Y" }}</span>
                        </div>
                    </div>
                    {% if article.photo %}
                    <figure class="figure__md">
                        <img src="{{ article.photo }}" atl="{{ article.title }}" />
                    </figure>
                    {% endif %}


                    {{ article.excerpt | markdownify }}

                    <div class="post__footer">
                        <span class="button btn__normal">
                            <a href="{{ article.url }}" title="{{ article.title }}">Read full article</a>
                        </span>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

        {% include sections/footer.html %}
    </div>

  </div>
</body>
</html>
